project:
  type: website

website:
  title: "Pavel Hubáček"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - publications.qmd   
  #     - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



